Django==1.8
Pillow==2.8.1
argparse==1.2.1
cffi==0.9.2
cryptography==0.8.1
dj-database-url==0.3.0
dj-static==0.0.6
django-countries==3.3
django-languages==0.1
django-toolbelt==0.0.1
easy-thumbnails==2.2
gunicorn==19.3.0
paypalrestsdk==1.9.0
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
python-stdnum==1.0
requests==2.6.0
six==1.9.0
static3==0.5.1
